@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(assets/hero-bg.png);
    width: 100%;
    height: 919px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    width: 1023px;
}

.hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

.hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.btn {
    font-family: Work Sans;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    transition: all 0.3s ease;
    transform: scale(1,1);
}
.btn:hover{
    Background: rgb(77, 179, 5);
    transform: scale(1.06,1.06);
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#card-box {
    width: 1320px;
    margin: 100px auto;
}

.info {
    width: 691px;
}

.info .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 16px;
}

.info .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.card {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box {
    width: 424px;
}

.img-box img {
    width: 100%;
    margin-bottom: 32px;
}

.shop {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
    margin-bottom: 24px;
}

.card h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}

.card p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 64px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.952), rgba(255, 255, 255, 0.952)), url(assets/social-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    margin: 100px auto;
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 830px;
    margin-right: 32px;
    text-align: center;
}

.about-us .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.about-us .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    margin-top: 24px;
}

.media .title {
    width: 100%;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    padding: 30px 10px 30px 10px;
    opacity: 0.7;
    margin-bottom: 32px;
    margin-top: 48px;
}

.media span {
    padding: 20px;
}

.media span img {
    padding: 10px;
    border-radius: 6px;
    transition: all 0.4s ease;
}

.media span img:hover {
    background-color: rgba(139, 133, 133, 0.39);
}